@import "variables";

.header {
    height: 64px;
    background-color: $blue-bg;
    padding: 0px 30px 0px 24px;
    @extend %flexible;
    align-items: center;

    &-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__img {
            margin-right: 6px;
        }

        &__text {
            color: white;
            @include font(500, 20px, 24px);
        }
    }
}